# fastapi
fastapi
pydantic
pydantic-settings>=2.6.0
python-dotenv

# storage
sqlalchemy > 2.0
motor
redis-client

# converter
pypdf
ebooklib
beautifulsoup4
pymupdf
pytesseract
pillow


# cloudflare
boto3

# http request
httpx

# rag & llm
litellm
google-genai-haystack
qdrant-haystack
google-adk
haystack-ai
qdrant-client
nltk>=3.9.1
sentence-transformers

# background task
celery
